.cancelButton {
  padding: 15px;
  border: 1px solid aliceblue;
  border-radius: 20px;
  width: 100px !important;
}
.stopButton {
  padding: 15px;
  background: rgba(131, 9, 9, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border-radius: 20px;
  width: 100px !important;
  color: antiquewhite;
  box-shadow: rgba(109, 9, 9, 0.671) 0px 50px 100px -20px,
    rgba(185, 8, 8, 0.726) 0px 30px 60px -30px !important;
}
