.container {
  padding: 80px;
}
.startButton {
  width: 100%;
  padding: 15px;
  background: #fffe;
  border-radius: 14px;
  height: 46px;
  transition: 2s;
}
.startButton:hover {
  background-color: rgb(255, 102, 0);
}
mat-card {
  background-color: #333;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: aliceblue;
  box-shadow: rgba(93, 66, 50, 0.089) 0px 50px 100px -20px,
    rgba(34, 34, 33, 0.445) 0px 30px 60px -30px;
}
mat-label {
  color: aliceblue;
}

mat-select {
  color: rgb(255, 102, 0) !important;
}
mat-card-header {
  margin-bottom: 30px;
}
mat-icon {
  height: 20px;
  color: rgb(255, 102, 0);
}
