mat-progress-spinner {
  overflow: visible !important;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
.container {
  padding: 80px;
}
.stopButton {
  width: 100%;
  padding: 15px;
  background: #fffe;
  border-radius: 14px;
  height: 46px;
  transition: 2s;
  margin-top: 30px;
}
.stopButton:hover {
  background-color: rgb(219, 34, 10);
  color: aliceblue;
  box-shadow: rgba(107, 25, 10, 0.932) 0px 50px 100px -20px,
    rgba(131, 8, 8, 0.966) 0px 30px 60px -30px;
}
mat-card {
  background-color: #333;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: aliceblue;
  box-shadow: rgba(93, 66, 50, 0.089) 0px 50px 100px -20px,
    rgba(34, 34, 33, 0.445) 0px 30px 60px -30px;
  & p {
    color: rgb(194, 196, 197);
  }
}
mat-card-header {
  margin-bottom: 30px;
}
