<mat-toolbar>
  <button
    *ngIf="isAuth"
    (click)="onToggleSidebar()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon> menu</mat-icon>
  </button>
  <img [src]="logoUrl" width="80" alt="training at home logo" />
  <div *ngIf="isAuth" class="menu" fxHide fxShow.gt-sm>
    <button mat-button *ngFor="let menu of menuArray" [routerLink]="menu.route">
      {{ menu.menuName }}
    </button>
  </div>
  <span class="example-spacer"></span>
  <button
    *ngIf="!isAuth"
    routerLink="/signup"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>person_add</mat-icon>
  </button>
  <button
    *ngIf="!isAuth"
    routerLink="/login"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>login</mat-icon>
  </button>
  <img
    *ngIf="isAuth"
    width="40"
    mat-button
    [matMenuTriggerFor]="menu"
    [src]="imgUrl"
  />
  <mat-menu #menu="matMenu">
    <button mat-menu-item><mat-icon> settings </mat-icon> Setting</button>
    <button (click)="logOutMembers()" id="logout" mat-menu-item>
      <mat-icon> logout</mat-icon> Logout
    </button>
  </mat-menu>
</mat-toolbar>
