<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12" id="Text-holder">
      <h1>
        Training at Home <br />
        Be healthy and well.
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud pariatur. Excepteur sint occaecat cupidatat non
        proident
      </p>
      <div class="example-button-row">
        <button mat-flat-button id="button-home-started" routerLink="/signup">
          <mat-icon>start</mat-icon> Get Started
        </button>
        <button
          (click)="playVideoButton()"
          mat-flat-button
          color="primary"
          id="button-home-contact"
        >
          <mat-icon>play_circle</mat-icon> Play Video
        </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12" id="Grid-holder">
      <video *ngIf="playVideo" controls autoplay>
        <source
          src="../../assets/bigbuck_bunny_8bit_15000kbps_1080p_60.0fps_h264.mp4"
          type="video/mp4"
        />
      </video>
      <app-route-grid *ngIf="!playVideo"></app-route-grid>
    </div>
  </div>
</div>
